<div class="container-fluid">
    <div class="col bg-dark p-2 m-5" *ngIf="! isReset">
        <h1 class="head text-center">Forgot Password Form</h1>
        <form #forgotPwdForm="ngForm" (ngSubmit)="forgot(forgotPwdForm)">
            
            <h3 class="text-center text-primary" >Verify Details</h3>
            <h3 class="text-danger text-center">{{errMsg}}</h3>
            <h3 class="text-danger text-center" *ngIf="!isVerified && isError"> Invalid Details</h3>
            <h3 class="text-success text-center" *ngIf="isVerified && !isError"> Verified Successfully</h3>
            <dl class="frm">
                <dt><label class="lbl">User Name:</label></dt>
                <dd><input class="in" [ngClass]="{'vld':username.invalid}" type="text" name="userName" ngModel #username="ngModel" required minlength="5" pattern="[a-zA-Z0-9 @#$%&_]*"></dd>
                <dd *ngIf="username.invalid && username.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> minimum length 5  & Chars,digits,spaces and '@#$%&_' are allowed !</dd>
                <dd *ngIf="username.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                <dt><label class="lbl">Last Name:</label></dt>
                <dd><input class="in" [ngClass]="{'vld':lname.invalid}" type="text" name="lastName" ngModel #lname="ngModel" required minlength="5" pattern="[a-zA-Z ]*"></dd>
                <dd *ngIf="lname.invalid && lname.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> minimum length 4 & Only characters and spaces are allowed!</dd>
                <dd *ngIf="lname.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                <div *ngIf="isFirst">
                <dt><label class="lbl">Mobile No:</label></dt>
                <dd><input class="in" [ngClass]="{'vld':phNo.invalid}" type="text" name="phNo" ngModel #phNo="ngModel" required pattern="^((\\+91-?)|0)?[6-9][0-9]{9}$"></dd>
                <dd *ngIf="phNo.invalid && phNo.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> Invalid Mobile No </dd>
                <dd *ngIf="phNo.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                <dt><label class="lbl">Email:</label></dt>
                <dd><input class="in" [ngClass]="{'vld':email.invalid}" type="email" name="email" ngModel #email="ngModel" required email="true"></dd>
                <dd *ngIf="email.invalid && email.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> invalid email</dd>
                <dd *ngIf="email.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                </div>
                <div *ngIf="! isFirst">
                <dt><label class="lbl">Security Question:</label></dt>
                <dd><select class="in text-center"[ngClass]="{'vld':security.invalid}" name=securityQ ngModel #security="ngModel" required >
                    <option value="">... select one ...</option>
                    <option value="what is Favourite color?">what is Favourite color?</option>
                    <option value="what is Favourite movie?">what is Favourite movie?</option>
                    <option value="what is Favourite place?">what is Favourite place?</option>
                </select></dd>
                <dd *ngIf="security.invalid && security.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> select valid option</dd>
                <dd *ngIf="security.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                <dt><label class="lbl">Answer:</label></dt>
                <dd><input class="in" name="answer" [ngClass]="{'vld':ans.invalid}"type="text" ngModel #ans="ngModel" required minlength="4"></dd>
                <dd *ngIf="ans.invalid && ans.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span>Atleast 4 chars required </dd>
                <dd *ngIf="ans.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
                </div>
                <dd class="bt"><button class="btn bg-primary" *ngIf="! isVerified" [disabled]="forgotPwdForm.invalid" type="submit">Verify</button></dd>
                <dd class="bt"><button class="btn bg-primary" *ngIf="isVerified"(click)="resetPwd()">Next</button></dd>
                <dd class="bt" *ngIf="! isVerified"><span class="text-danger"*ngIf="forgotPwdForm.invalid">Disabled</span><span style="color:magenta"*ngIf="forgotPwdForm.valid">Enabled</span></dd>
                <br>
                <dd><button (click)="otherWay()">try other way?</button></dd>
               </dl>
            
        </form>
    </div>
    <div class="col bg-dark p-2 m-5" *ngIf="isReset">
        <h1 class="head">Reset Password Form</h1>
        <h3 *ngIf="isSuccess" class="text-success"> Successfully Updated Password, Please <button routerLink="/login" class="spn">Login</button></h3>
        <h3 class="text-danger">{{errMsg}}</h3>
      <form #resetPwdForm="ngForm" (ngSubmit)="reset(resetPwdForm)">
        <dl>
            <dt><label class="lbl">User Name :</label></dt>
            <dd><input class="in" type="text" name="userName" [(ngModel)]="userName" readonly></dd>
            <dt><label class="lbl">Last Name :</label></dt>
            <dd><input class="in" type="text" name="lastName" [(ngModel)]="lastName" readonly></dd>
            <dt><label class="lbl">Password:</label></dt>
        <dd><input class="in" [ngClass]="{'vld':pwd.invalid}" type="password" name="password" ngModel #pwd="ngModel"  required minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"></dd>
        <dd *ngIf="pwd.invalid && pwd.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> minimum length 8 & Atleast one lower, upper case ,digit and special char is required !</dd>
        <dd *ngIf="pwd.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
        <dd><input class="in" [ngClass]="{'vld':pwdCnf.invalid || !(pwd.value===pwdCnf.value)}" type="password" name="confirmPassword" ngModel #pwdCnf="ngModel"  required minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"></dd>
        <dd *ngIf="pwd.invalid && pwd.touched" class="text-danger"><span class="bi bi-x-circle-fill"></span> minimum length 8 & Atleast one lower, upper case ,digit and special char is required !</dd>
        <dd *ngIf="pwd.valid" class="text-light"><span class="bi bi-check-circle-fill"></span> Valid</dd>
        <dd class="bt"><button class="btn bg-primary" [disabled]="resetPwdForm.invalid || !(pwd.value===pwdCnf.value)">Update Password</button></dd>
        <dd class="bt"><span class="text-danger"*ngIf="resetPwdForm.invalid ||!(pwd.value===pwdCnf.value)">Disabled</span><span style="color:magenta"*ngIf="resetPwdForm.valid">Enabled</span></dd>
        
        </dl>
      </form>
    </div>
</div>
